/* Top Section of the main page */
body {
    margin: 0;
    color: white;
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: sticky;
    top: 0px;
    left: 0px;
    border-radius: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.titleImage {
    position: relative;
    top: 5px;
    width: 300px;
    left: 5px;
    z-index: 1;
}
.titleImageDiv {
    position:absolute;
    top: 10px;
    width: 300px;
    left: 10px;
    height: 100px;
    z-index: 1;
}
.backgroundImage {
    position: sticky;
    top: -540px;
    z-index: 0;
    left: 0;
    width: 100vw;
    z-index: 0;
}
.buttons {
    z-index: 1;
    position: absolute;
    display: inline-flex;
    top: 67px;
    left: 330px;
    gap: 30px;
}
.buttons a {
    color: black;
    background-color: lightgray;
    padding: 10px;
    padding-right: 40px;
    border-radius: 5px ;
    text-decoration-line: none;
    text-wrap: nowrap;
}
/* Cards for Lists */
.realismListDiv ul {
    display: grid;
    height: 700px;
    width: 700px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}
.realismListDiv ul li {
    background-color: lightgray;
    padding: 10px;
    border-radius: 15px;



}