/* Top Section of the main page */
body {
    margin: 0;
    color: white;
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    position: sticky;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    min-height: 150px;
    overflow: hidden;
    background-image: url("./images/background1.png");
    background-size: cover;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 20px;
    padding-inline: 10px;
}
.navButton {
    text-decoration: none;
    text-wrap: nowrap;
    color: black;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;

}

.titleImage {
    height: 100px;
    width: 300px;
}
/*
.titleImageDiv {
    position:absolute;
    top: 10px;
    width: 300px;
    left: 10px;
    height: 100px;
    z-index: 1;
}
.backgroundImage {
    position: sticky;
    top: -540px;
    z-index: 0;
    left: 0;
    width: 100vw;
    z-index: 0;
}
.buttons {
    z-index: 1;
    position: absolute;
    display: inline-flex;
    top: 67px;
    left: 330px;
    gap: 30px;
    flex-wrap: wrap;
}
.buttons a {
    color: black;
    background-color: lightgray;
    padding: 10px;
    padding-right: 40px;
    border-radius: 5px ;
    text-decoration-line: none;
    text-wrap: nowrap;
}
*/
@media (max-width:915px) {
    nav {
        padding-bottom: 40px;
    }
}
@media (min-width:915px) {
    li form {
        position: fixed;
        right: 20px;
        
    }
}
@media (max-width: 400px) {
    .navButton {
        flex-grow: auto;
    }
}


/* Cards for Lists */
.listDiv {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-inline: 20px;
}

.listRightDiv ul {
    list-style-type: none;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.listRightDiv ul li a {
    background-color: lightgray;
    border-radius: 10px;
    color: black;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    min-width: 0;
}
.listRightDiv ul li {
    background-color: lightgray;
    border-radius: 10px;
    color: black;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    min-width: 0;
}
.listLeftDiv h1 {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}